
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #2E333A;
}
.btn{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}
.py-4 {
    padding-top: 13rem !important;
    padding-bottom: 4rem !important;
}
.row{
    display: flex;
}
.col-6{
    display: block;
    width: 45%;
}

.nav {
    display: -webkit-box !important;
    padding: 15px 30px;
    background: #2E333A;
}

li>button{
    font-size: 1em;
}
.btnSign {
    border-radius: 8px;
    background: #2E333A;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    color: #fff;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451;
    font-size: 14px;
    margin-top: .5rem;
}
.btnVector {
    border-radius: 8px;
    background: #2E333A;
    color: #fff;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451;
    padding: 9px;
    width: 40px;
}
.logo{
    margin-right: auto;
}
.logo>img{
    height: 60px;
    width: 200px;
}
.inner>ul {
    transform: translateY(25%);
    list-style: none;
    display: inline-flex;
}
.inner>ul>li{
    padding-right: 2rem;

}

.s1d1 {
    padding-top: 4rem;
    position: relative;
}
.s1d2 {
    background-color: #2E333A;
    box-shadow: -7px -7px 30px 0px #262E32;
    box-shadow: 14px 14px 40px 0px #101012BF;
    border-radius: 25px;
    width: 45%;
    padding: 32px;
    margin-left: 10rem;
    padding-bottom: 3rem;
    z-index: 1;
}
.txt1 {
    color: #fff;
    font-size: 2.5rem;
    line-height: 3.5rem;
}
.txt2{
    color: #fff;
    font-size: 1rem;
    padding-top: 2rem;
}
.cabtn{
    color: var(--secondary-blue, #0ED2F6);
    background: #2E333A;
    border: 1px solid #0ED2F6;
    border-radius: 0.75rem;
    padding: 0.7rem 0.875rem;
    font-size: 1.4375rem;
    margin-top: 2rem;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #506081, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #4c5a6d;
}
.ac{
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
}
.profpics>img {
    width: 70px;
    height: 61;
    margin-left: -10px;
    border-radius: 15px;
}
.gradient {
    position: absolute;
    width: 100%;
    height: 1050px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 59.9%, rgba(14, 14, 14, 0) 100%);
    z-index: 1;
    margin-top: -12em;
}
.s1d1>img{
    width: 1000px;
    top: 9rem;
    right: 0;
    z-index: -1;
    position: absolute;
    /* height: 50%; */
}
p.txt3 {
    margin-top: .5rem;
    margin-left: 1rem;
    color: #fff;
}

.screens{
    display: flex;
    top: 12rem;
    position: absolute;
    z-index: -7;
}
.card{
    margin-right: 1rem;
}
.icon {
    width: 1.2rem;
    height: 1.4rem;
    flex-shrink: 0;
    fill: #02E4C0;
    margin-right: 15px;
}
.container {
    max-width: 1140px;
    margin: 0 auto; 
    padding: 0 20px;
}

.s1d3 {
    margin-top: 4rem;
    color: #fff;
    max-width: 61%;
    background-color: transparent;
    display: flex;
    padding: 80px 20px 0 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.ctitle{
    display: flex;
    padding: 10px;
    align-items: center;
    font: .9rem sans-serif;
    font-weight: bold;
    line-height: 130%;
}
.cbody {
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 130%;
}