
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #2E333A;
}
.py-4 {
    padding-top: 13rem !important;
    padding-bottom: 4rem !important;
}
.row{
    display: flex;
}
.col-6{
    display: block;
    width: 45%;
}

.nav {
    display: -webkit-box !important;
    padding: 15px 80px;
    background: #2E333A;
}

li>button{
    font-size: 1em;
}
.btnSign{
    border-radius: 10px;
    background: var(--dark-colour, #2E333A);
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    border: none;
    /* NewM T Nav */
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451;
}
.logo{
    margin-right: auto;
    max-height: 60px;
    max-width: 200px;
}
.logo>img{
    height: 60px;
    width: 200px;
}
.inner>ul {
    transform: translateY(25%);
    list-style: none;
    display: inline-flex;
}
.inner>ul>li{
    padding-right: 4em;

}

.s1d1 {
    padding-top: 4rem;
    position: relative;
}
.s1d2 {
    box-shadow: -7px -7px 30px 0px #1d2427, 14px 14px 40px 0px rgba(16, 16, 18, 0.75);
    border-radius: 25px;
    width: 28rem;
    padding: 32px;
    margin-left: 10rem;
    /* position: relative; */
    z-index: 1;
    padding-bottom: 3rem;
}
.txt1{
    color: #fff;
    font-size: 2rem;
}
.txt2{
    color: #fff;
    font-size: 1rem;
    padding-top: 2rem;
}
.cabtn{
    font-weight: bold;
    color: var(--secondary-blue, #0ED2F6);
    background: #2E333A;
    border: 1px solid #0ED2F6;
    border-radius: 0.75rem;
    padding: 0.7rem 0.875rem;
    font-size: 1.4375rem;
    margin-top: 2rem;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #506081, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #4c5a6d;
}
.ac{
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
}
.profpics>ul>li>img {
    width: 35px;
    margin-left: -10px;
    border-radius: 15px;
}
.profpics>ul{
    list-style: none;
    display: inline-flex;
}
p.txt3 {
    margin-top: .5rem;
    margin-left: 1rem;
    color: #fff;
}

.screens{
    display: flex;
}
.img1{
    background: url(../img/Dashboard.png), lightgray 50% / cover no-repeat;
    width: 36.87594rem;
height: 34.03931rem;
transform: rotate(-45deg);
flex-shrink: 0;
}
.imgs{
    /* width: 136.52281rem;
    flex-shrink: 0;
    height: 66rem; */
}
.imgDash {
    width: 590.015px;
    height: 544.629px;
    transform: rotate(-45deg);
    position: absolute;
    top: 23.6rem;
    right: -60px;
    z-index: -1;
    flex-shrink: 0;
}
.icon{
    width: 28px;
    height: 25.991px;
    flex-shrink: 0;
    fill: #0ED2F6;
}
.container {
    max-width: 1140px;
    margin: 0 auto; 
    padding: 0 20px;
}

.s1d3 {
    margin-top: 4rem;
    color: #fff;
    background-color: transparent;
    display: flex;
    padding: 80px 20px 0 20px;
    justify-content: center;
    align-items: center;
    position: sticky;
}
.shadow {
    width: 100%;
    height: 1255px;
    /* z-index: -1; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 28.65%, #292D33 73.96%, rgba(46, 51, 58, 0.50) 100%);
    position: absolute;
}
.ctitle{
    display: flex;
    padding: 10px;
    align-items: center;
    font: 1rem sans-serif;
    font-weight: 500;
    line-height: 130%;
}
.cbody{
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: .9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
}
.formSection {
    z-index: 2;
    position: relative;
}
.formTitle {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    padding: 4rem 0;
}
.formDiv {
    width: 50rem;
    border-radius: 25px;
    background: #2E333A;
    box-shadow: -7px -7px 30px 0px #262E32, 14px 14px 40px 0px rgba(16, 16, 18, 0.75);
    color: #0ED2F6;
}
form {
    padding: 2rem 0 2rem 4rem;
}
form>div{
    margin: 10px;
    align-items:center ;
}
.formElement>label {
    font-size: 1.3rem;
}
.formElement>select{
    height: 3rem;
    width: 96%;
    outline: none;
    border: none;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451 !important;
}
.formElement>input{
    width: 90%;
    height: 2rem;
}
.formElement>input, .formElement>select ,.formElement>textarea {
    color: #fff;
    font-size: 1rem;
    background-color: #3B4451;
    
    margin: 8px;
    padding: 8px;
    border-radius: 10px;
    background: var(--dark-colour, #2E333A);
    border: none;
    box-shadow: 3.7338130474090576px 3.7338130474090576px 6.223021507263184px 0px #000 inset, -6.223021507263184px -6.223021507263184px 6.223021507263184px 0px #3B4451 inset;
}
.formElement>input:focus, .formElement>select:focus,.formElement>textarea:focus{
    outline: none;
    border: none;
}
form>a {
    color: var(--secondary-blue-light-1, #72E4F9);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: underline;
}
.btnSubmit{
    display: flex;
    justify-content: center;
}
.btnSubmit>button {
    color: var(--secondary-blue, #0ED2F6);
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 130%;
    border-radius: 12px;
    border: 1px solid #0ED2F6;
    background: #2E333A;
    padding: 10px 40px;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px #000, -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px #3B4451;
}